<h1>Welcome to your pizza store!</h1>

<% if current_user.owner? %>
<% end %>
<%= link_to "View Toppings", toppings_path %>
<%= link_to "View Pizza", pizzas_path %>

<% if current_user.chef? %>
<% end %>
